.my-chat {
  .cmMVdy {
    font-family: inherit;
    z-index: 0;
  }
  height: 100%;
  overflow: hidden;
  .cmMVdy {
    border-radius: 0%;
  }
  .hQsUiY,
  .cRmLCo,
  .ipSaXD,
  .hiMqtA {
    background: #111;
    color: #fff;
  }
}

.chat-header {
  text-align: center;
  font-style: italic;
  margin: 15px;
}
