.my-chat {
  .bxtiur {
    // background: url('../../assets/favcon.svg');
    background: url('../../assets/logo.svg');
    background-size: 10%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .cmMVdy {
    font-family: inherit;
    z-index: 0;
  }
  height: 100%;
  overflow: hidden;
  .cmMVdy {
    border-radius: 0%;
  }
  .hQsUiY,
  .cRmLCo,
  .hiMqtA {
    background: #111;
    color: #fff;
  }
  .ipSaXD {
    background: #fff;
    color: #111;
    border: 1px solid #111;
  }
}

.chat-header {
  text-align: center;
  font-style: italic;
  margin: 15px;
}
